@model List<MouseShop.Domain.Models.Mouse>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@foreach (var mouse in Model)
{
    <p>@mouse.Name - @mouse.Price - @mouse.Producer - @mouse.Weight - @mouse.CountMouseButtons - @mouse.DPI</p>
}
